@charset "UTF-8";
/* -------------------------------------------------------------- 
 
www.owainlewis.com

-------------------------------------------------------------- */
body {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  color:#666;
  line-height: 1; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

html, body {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted inherit;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type=checkbox] {
  vertical-align: bottom; }

.ie7 input[type=checkbox] {
  vertical-align: baseline; }

mark, rp, rt, ruby, summary, time {
  display: inline; }

ol, ul, nav ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
  display: block; }

input[type=radio], .ie6 input {
  vertical-align: text-bottom; }

::-moz-selection, ::selection {
  background: #CCC;
  color: #FFF; }

body {
  font-size: 12px;
  line-height: 1.4;}

/* Default fonts and colors. */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

/* Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: -1px; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

/* Text elements
-------------------------------------------------------------- */
p {
  margin-bottom: 20px;
  color: #666; }

ul, ol {
  margin-bottom: 20px; }

ul {
  list-style-type: circle; }

ol {
  list-style-type: decimal; }

li {
  margin-bottom: 10px;list-style:none }

dl {
  margin-bottom: 10px; }

dl dt {
  font-weight: bold;
  margin-bottom: 10px; }

dl dd {
  margin-bottom: 10px; }

a {
  color: #2094c5;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

body {
  background: #FFF;
  overflow-x:hidden; }

/* -------------------------------------------------------------- 
General Classes 
-------------------------------------------------------------- */
.clr {
  clear: both; }

.center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.titlecase {
  text-transform: capitalize; }

.inline li {
  display: inline;
  margin-right: 20px; }

.light {
  font-weight: 100; }

/* -------------------------------------------------------------- 
Progressive Enhancement 
-------------------------------------------------------------- */
.boxShadow {
  -moz-box-shadow: 0px 0px 4px #ffffff;
  /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #ffffff;
  /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 4px #ffffff;
  /* Opera 10.5, IE9, Chrome 10+ */ }

.boxGradient {
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #999999);
  /* FF3.6 */
  background-image: -o-linear-gradient(top, #444444, #999999);
  /* Opera 11.10+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444444), color-stop(1, #999999));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#444444, #999999);
  /* Chrome 10+, Saf5.1+ */
  background-image: linear-gradient(top, #444444, #999999);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999');
  /* IE */ }

.textShadow {
  text-shadow: 1px 1px 3px #888;
  /* FF3.5+, Opera 9+, Saf1+, Chrome */ }

/* -------------------------------------------------------------- 
HTML5
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
Colors
-------------------------------------------------------------- */
/* -------------------------------------------------------------- 
Layout
-------------------------------------------------------------- */
#container {
  width: 728px;
  margin: 20px auto;
  overflow: hidden;
  position:relative;
  padding: 0 20px; }

#loader {
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  display: none;
  z-index: 999999; }

/* -------------------------------------------------------------- 
Structure
-------------------------------------------------------------- */
#topHeading {
  height: 108px;/* JH changed from 60 to 108 to add logo*/
  background: #e1e1e1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2%, #e1e1e1), color-stop(100%, #f5f5f5));
  /* webkit */
  overflow: hidden; }
  #topHeading h1 {
    line-height: 60px;
    font-weight:500;
    margin-left: 20px;
	margin-bottom: 0px;
    font-size: 24px;
    color: #019e97; }
 #topHeading img {
	 margin-left:20px;}
  #topHeading .button {
    background: #555;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a8a8a8), color-stop(73%, #5b5b5b));
    /* webkit */
    float: right;
    display: block;
    height: 40px;
    min-width: 100px;
    line-height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    -moz-border-radius: 5px;
    /* FF1+ */
    -webkit-border-radius: 5px;
    /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 5px;
    /* Opera 10.5, IE9, Saf5, Chrome, FF4 */ }
  #topHeading header {
    float: left; }

#tagline {
  height: 60px;position:relative }

#tag {
  clear: both;
  font-size: 20px;
  line-height: 60px;
  font-weight: 100;
  color: #555; }

#wrapper {
  width: 688px;
  padding: 20px;
  background: #f5f5f5;
                     /* old browsers 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(32%,#f5f5f5), color-stop(50%,#f5f5f5)) ;*/
  overflow: hidden; }

#countryFilter {
  width: 334px;
  background: #e1e1e1;
  height: 390px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px; }
  #countryFilter header {
    background: #008081;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(41%, #009d96), color-stop(99%, #308384));
    /* webkit */
    height: 60px;
    line-height: 60px;
    color: #fff;
    padding: 0 20px; }
    #countryFilter header h2 {
      float: left;
      font-size: 20px; }
    #countryFilter header .reset {
      display: block;
      background: url(../images/reset.png) no-repeat center top;
      height: 33px;
      width: 45px;
      float: right;
      position: relative;
      top: 14px;
      text-indent: -99999px; }
  #countryFilter #filterCountry {
	height: 280px;	/* JH added height to use this UL as the frame for the container */
    padding: 0px; /* JH removed padding and used margin */
	margin: 20px 20px 20px 20px;
	position:relative;	/* JH added relative to overwrite absolute so scroll bar container algin right correctly */
    overflow: hidden;
    float: left; }
    #countryFilter #filterCountry ul:first-child {
      width: 290px; /* JH ammened from 250 to 290 because of the removal of the scroll buttons */
      float: left; }
    #countryFilter #filterCountry #scrollNav {
      /* Side Nav */
	  display:none; /* JH hide buttons because of implementation of scroll thumb */
      width: 26px;
      float: left;
      margin-left: 14px; }
      #countryFilter #filterCountry #scrollNav li {
        padding: 0;
		display:block;
		height:16px;
		width:26px;
        margin-bottom: 20px;
        cursor: pointer; }
      #countryFilter #filterCountry #scrollNav li:first-child {
        background: url(../images/up.png) no-repeat;
        text-indent: -99999px; }
      #countryFilter #filterCountry #scrollNav li:last-child {
        background: url(../images/down.png) no-repeat;
        text-indent: -99999px; }
  #countryFilter #filterCountry ul:first-child li {
    border-bottom: 1px solid #CCC;
    padding: 10px 0 10px 10px;
    background: transparent;
    margin-bottom: 2px;
    cursor: pointer; }
  #countryFilter #filterCountry ul:first-child li.active  {
    background: #FFF; }

#categoryFilter {
  width: 334px;
  background: #e1e1e1;
  height: 390px;
  float: left;
  margin-left: 20px;
  overflow: hidden;
  margin-bottom: 20px; }
  #categoryFilter header {
    background: #008081;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(41%, #009d96), color-stop(99%, #308384));
    /* webkit */
    height: 60px;
    line-height: 60px;
    color: #fff;
    padding: 0 20px; }
    #categoryFilter header h2 {
      float: left;
      font-size: 20px; }
    #categoryFilter header .reset {
      display: block;
      background: url(../images/reset.png) no-repeat center top;
      height: 33px;
      width: 45px;
      float: right;
      position: relative;
      top: 14px;
      text-indent: -99999px; }
  #categoryFilter #filterCat {
	height: 280px;	/* JH added height to use this UL as the frame for the container */
    padding: 0px; /* JH removed 20px padding and used margin */
	margin: 20px 20px 20px 20px;
	position:relative;	/* JH added relative to overwrite absolute so scroll bar container algin right correctly */ 
    float: left;
    overflow: hidden;
    /* Sub Nav */
    /* Side Nav */ }
    #categoryFilter #filterCat ul:first-child {
	  width: 290px; /* JH ammened from 250 to 290 because of the removal of the scroll buttons */
      float: left; }
    #categoryFilter #filterCat ul li {
      padding: 10px 0 10px 0px;
      background: #F0F0F0;/*JH changed to use colour instead of opacity*/
      margin-bottom: 0;
      margin-bottom: 2px;
      -webkit-border-radius: 2px;
	  /*webkit-transition: all 0.4s ease-in-out* JH removed for now/;
      cursor: pointer;
      /*opacity: 1; JH removed*/ }
    #categoryFilter #filterCat ul li:hover {
      /*opacity: 1; JH removed*/ }
	#categoryFilter #filterCat ul li.active  {
      background: #FFF; }
    #categoryFilter #filterCat ul li ul {
      margin-top: 10px;
      clear: both; }
      #categoryFilter #filterCat ul li ul li {
        margin-left: 0px;
        width: 230px;/* JH amended from 220px to 190px, then I amened from 190 to 230 to account for extra remove provided by removal of nav buttons */
		padding-left:60px;/* JH amended from 30px to 60px */
        opacity: 1;
		cursor: pointer; }
    #categoryFilter #filterCat .subCategories {
      display: none; 
	  /* -webkit-transition: all 0.4s ease-in-out; JH remove for touch event*/
	  }
    #categoryFilter #filterCat #filterScrollNav {
	  display:none; /* JH hide buttons because of implementation of scroll thumb */
      width: 20px;
      float: left;
      margin-left: 20px; }
      #categoryFilter #filterCat #filterScrollNav li {
		display:block;
		height:16px;
		width:26px;
        padding: 0;
        margin-bottom: 20px; }
      #categoryFilter #filterCat #filterScrollNav li:first-child {
        background: url(../images/up.png) no-repeat;
        text-indent: -99999px; }
      #categoryFilter #filterCat #filterScrollNav li:last-child {
        background: url(../images/down.png) no-repeat;
        text-indent: -99999px; }
  .closed {
    display: block;
    width: 25px;
    height: 26px;
    background: url(../images/closed.png) no-repeat center top;
    float: left;
    margin-right: 0px;
	padding-left:20px;
    position: relative;
    top: -6px; }
  .open {
    display: block;
    width: 25px;
    height: 26px;
    background: url(../images/open.png) no-repeat center top;
    float: left;
	padding-left:20px;
    margin-right: 0px;
    position: relative;
    top: -6px; }

#countriesList, #categoriesList {
  background:#e1e1e1;
  position: relative;
  top: 0;
  /* -webkit-transition: all 0.4s ease-in-out; JH remove for touch event*/
  }
  

#countriesList li {margin-bottom:2px;}
#countriesList, #categoriesList a { color:#333; }
#categoriesList .subCategories{background:#e1e1e1;margin-bottom:0}

#iconsrow {
  margin-left: 20px;
  margin-top: 20px; }
#hiddenresults{display:none}
	div {margin-top:10px}
#template{display:none}
#template .details {margin-bottom:20px;color:#666}
#article {
  clear: both;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd; }
  #article #resultstitle {
    color: #008081;
	font-weight:bold;
    font-size: 22px;
    margin-bottom: 20px;
	margin-right:20px;
    padding-bottom: 20px; }
    #article h1 span {
      font-size: 14px;
      color: #666;
      margin-left: 20px;
      font-weight: normal; }
  #article h2 {
    color: #008081;
    font-size: 22px;
    margin: 10px 0;
	padding-bottom:0px;}
  #article h3 {
    color: #008081;
    font-size: 14px; }

#icons {
  margin-top: 20px;
  margin-left: 20px; }
  #icons li {
    display: block;
    height: 41px;
    float: left; }
  #icons #email {
    background: url(../images/icons.png) no-repeat 0px 5px;
    width: 112px; }
  #icons #getintouch {
    background: url(../images/icons.png) no-repeat -110px;
    width: 128px; }
  #icons #print {
    background: url(../images/icons.png) no-repeat -238px;
    width: 118px; }
	
#panelView{
background:#e1e1e1;
width:623px;
padding:20px 10px 10px 10px;
display:none;
overflow:hidden;
height:auto;
}
	#panels{margin-bottom:0}
	#panelView li {display:block;width:100%;cursor:pointer;height:auto;clear:both;position:static !important;
    width:572px;padding:10px;background:#FFF url(../images/closed.png) no-repeat 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;
    border-radius:5px;margin-bottom:10px;display:none;padding-left:40px;}
    #panelView li.active{display:block}
    #panelView li.open .category{display:block}
    #panelView li.closed .category {display:none !important}
    .contentDiv{display:none}

#mask {width:100%;height:100%;position:fixed;z-index:999;background:#000;opacity:0.0;left:0;top:-40px;-webkit-transition: all 0.3s ease-in;display:block}
#window{padding:20px 0;background:#FFF;width:500px;min-height:200px;position:absolute;left:0;top:0;z-index:9999;display:none;opacity:0.0;-webkit-transition: all 0.5s ease-in;}
#window li {list-style:none}
#window h1 {color:#019E97;margin-left:20px;}
#window h2 {color:#333;font-weight:normal;font-size:16px;background:#f4f4f4;padding:20px;margin-bottom:0;}
#window section {background:#eee;padding:20px 0}
#yourResults {color:#666;font-weight:bold;margin-top:0;height:40px;border-bottom:2px solid #CCC}
#window_close{cursor:pointer;position:absolute;right:0;top:-35px;background:#fff;padding:0px 20px;display:block;color:#222;height:35px;line-height:35px; }
#info_icon{background:url(../images/icon.png) no-repeat center top;width:9px;height:20px;position:absolute;right:22px;top:19px;}

#guide{width:500px;min-height:400px;position:absolute;top:160px;background:#f2f2f2;left:35%;z-index:9999999;display:none}
#guide h2 {color:#019E97;font-weight:normal;font-size:18px;}
#guide article {padding:20px}
#guide_heading{height:80px;background:#FFF;border-bottom:1px solid #CCC;width:100%;margin:0 0 0px 0;}
#guide_heading h2 {line-height:80px;margin:0 20px;color:#019E97;font-weight:normal;font-size:24px;}
#close_guide{cursor:pointer;position:absolute;right:0;top:-35px;background:#fff;padding:0px 20px;display:block;color:#222;height:35px;line-height:35px; }

#alert{width:300px;min-height:130px;position:absolute;top:160px;background:#f2f2f2;left:35%;z-index:9999999;display:none}
#alert h3 {color:#019E97;font-weight:normal;font-size:14px;}
#alert article {padding:20px}
#alert_heading{height:60px;background:#FFF;border-bottom:1px solid #CCC;width:100%;margin:0 0 0px 0;}
#alert_heading h2 {line-height:60px;margin:0 20px;color:#019E97;font-weight:normal;font-size:24px;}
#close_alert{cursor:pointer;position:absolute;right:0;top:-35px;background:#fff;padding:0px 20px;display:block;color:#222;height:35px;line-height:35px; }

.hidden{display:none}
.contact_info{color:#019E97;font-weight:500;margin-bottom:10px;margin-left:20px;}
.name{font-size:20px;font-weight:500}


.touchScrollPanelVerticleThumbContainer {
	height:100%;
	width:10px;
	position:absolute;
	right:0px;
	top:0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	margin:0px;
}
.touchScrollPanelVerticleThumb {
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	margin:0px;	
}
.touchScrollPanelHorizontalThumbContainer {
	height:10px;
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	overflow:hidden;
	margin:0px;
}
.touchScrollPanelHorizontalThumb {
	height:100%;
	position:absolute;
	top:0px;
	left:0px;	
	margin:0px;
}
.touchScrollPanelThumbGraphics {
	background-color:rgba(0,0,0,0.66);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	bottom:2px;
	left:2px;
	top:2px;
	right:2px;
	position:absolute;
	border:1px solid rgba(255,255,255,0.6);
	margin:0px;
}



/* -------------------------------------------------------------- 
Media Queries Landscape
-------------------------------------------------------------- */
@media only screen and (orientation:landscape) {
  /* portrait styles here */ }
